@charset "utf-8";

/* --------------------------
692xサイズ以下
-------------------------- */
@media (max-width: 692px) {
  .headline {
   margin-bottom: 30px;
  }
}

/* --------------------------
593xサイズ以下
-------------------------- */
@media (max-width: 593px) {
  .headline {
    width: 80%;
    font-size: 1.25rem;
  }
}

/* --------------------------
333xサイズ以下
-------------------------- */
@media (max-width: 333px) {
  .headline {
    width: 90%;
    font-size: 1.125rem;
  }
}